<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AIGolem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
  <bd-header1></bd-header1>  
  <bd-body>
      <bd-bodyleft t="[title]welcome">
          <span title="welcome-text"></span>
          <br/>          
      </bd-bodyleft>
      <bd-bodyright>
      </bd-bodyright>
  </bd-body>

  <bd-footer1></bd-footer1>
  </body>
</html>
